.modal {
	overflow: hidden;
	display: none;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding-top: 180px;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1000;

	@include mobile {
		padding: 0;
	}

	&.isOpen {
		display: flex;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		width: 800px;
		max-height: 750px;
		background: #fff;

		@include mobile {
			width: 100%;
			height: 100%;
			max-height: none;
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		padding: 40px 40px 20px;

		@include mobile {
			padding: vw-mo(30 20 12);
		}
	}

	&__title {
		@include font(26,800);

		@include mobile {
			font-size: vw-mo(20);
			line-height: vw-mo(36);
		}
	}

	&__close {
		align-self: center;
		width: 24px;
		height: 24px;
		background: $close no-repeat 50% 50% / 100%;

		@include mobile {
			width: vw-mo(24);
			height: vw-mo(24);
		}
	}

	&__body {
		overflow-y: auto;
		padding: 0 40px 40px;

		@include mobile {
			padding: vw-mo(0 20 20);
		}
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 12px;
		padding: 16px 40px;
		border-top: 1px solid	#ccc;

		@include mobile {
			padding: vw-mo(20);

			button {
				flex: 1 1;
			}
		}
	}
}