.sub {
	&__content {
		margin-top: 50px;

		@include mobile {
			margin-top: vw-mo(20);
		}
	}

	&__title {
		@include flexCenter(center);
		justify-content: space-between;
		padding: 30px;
		font-family: $effectFont;
		@include font(28,700);
		border-radius: 8px;

		.title {
			max-width: 720px;

			.desc {
				display: block;
				margin-top: 8px;
				font-family: "NanumSquare";
				@include font(14,700);
			}
		}

		@include mobile {
			flex-direction: column;
			justify-content: center;
			gap: vw-mo(16);
			padding: vw-mo(30 20);
			font-size: vw-mo(20);

			.title {
				padding: vw-mo(0 40);
				text-align: center;
			}
		}

		@at-root .level1 {
			.sub__title {
				background: #071E5826;
			}
			.title {
				color: #202E5B;
			}
		}
		@at-root .level2 {
			.sub__title {
				background: #827A2B26;
			}
			.title {
				color: #524D1C;
			}
			.price__title {
				color: #7F792C;
				border-color: #7F792C;
			}
		}
		@at-root .level3 {
			.sub__title {
				background: #4B515526;
			}
			.title {
				color: #333333;
			}
			.price__title {
				color: #222;
				border-color: #4B5155;
			}
		}
	}

	&__desc {
		margin: 32px 0;
		padding: 0 30px;
		line-height: 27px;

		@include mobile {
			margin: vw-mo(32 0);
			padding: 0;
		}
	}

	&__price {
		margin-top: 50px;
		padding: 50px 30px 0;
		border-top: 1px solid #ccc;

		.test__info {
			.title {
				color: #222;
				line-height: 24px;

				span {
					display: block;
					margin-bottom: 12px;
					@include font(20,800);
				}
			}
		}
		&.type1 {
			.test__info {
				@include flexCenter(space-between);
			}
		}

		.price {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 6px;
			padding: 20px 40px;
			border-radius: 8px;
			background: #0D2E70;
	
			>span {
				color: #CDCDCD;
				@include font(14,700);
			}
	
			p {
				font-family: $effectFont;
				color: #fff;
				@include font(24,700);

				span {
					font-size: 14px;
				}
			}


			&__group {
				display: flex;
				gap: 24px;
				margin-top: 50px;
				padding-top: 50px;
				border-top: 1px solid #ccc;

				.price {
					height: 68px;
					padding: 0;
				}

			}

			&__box {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 16px;
				flex: 1 1 100%;
				padding: 20px;
				border: 1px solid #ccc;
				border-radius: 8px;

			}

			&__title {
				height: 120px;
				padding: 16px 20px;
				@include font(18,700);
				border: 1px solid;
				border-radius: 8px;
			}

			&__desc {
				padding: 8px 0;
				@include font(14,700);

				.bullet {
					line-height: 18px;
					white-space: pre-wrap;
				}
			}
		}
	}
}

.desc {
	&__list {
		display: flex;
		gap: 70px;

		@include mobile {
			flex-direction: column;
			gap: vw-mo(32);
		}
	}

	&__item {
		&.left {
			.title {
				@include flexCenter;
				gap: 8px;
				padding: 6px 0;
				color: #002368;
				@include font(24,800);
				border-bottom: 1px solid #ccc;

				&:before {
					content: '';
					display: block;
					width: 20px;
					height: 20px;
					background: url('/images/common/ACAMS-logo-sm.svg') no-repeat 50% 50% / 100%;
				}
			}

			.desc {
				padding: 16px 30px;
				font-size: 18px;
				letter-spacing: -0.02em;
				line-height: 27px;
			}
			

			@include mobile {
				.title {
					gap: vw-mo(8);
					padding: vw-mo(8 0);
					font-size: vw-mo(16);

					&:before {
						width: vw-mo(20);
						height: vw-mo(20);
					}
				}

				.desc {
					padding: vw-mo(16) 0 0;
					line-height: vw-mo(20);
				}
			}
		}
		&.right {
			width: 280px;
			min-width: 280px;

			.title {
				margin-bottom: 8px;
				color: #002368;
				@include font(18,800);
			}

			.desc {
				font-size: 14px;

				.bullet {
					padding-left: 10px;
					line-height: 18px;
					text-align: justify;
					white-space: pre-wrap;

					& + .bullet {
						margin-top: 4px;
					}
				}
			}
			

			@include mobile {
				width: 100%;
				min-width: auto;
			}
		}
	}

	&__box {
		font-size: 14px;

		& + .desc__box {
			margin-top: 32px;

			@include mobile {
				margin-top: vw-mo(32);
			}
		}
	}
}