.tab {
	&__sub {
		@include flexCenter(center);
		gap: 40px;

		@include mobile {
			gap: vw-mo(8);
		}

		&.link {
			a {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 100%;
				min-height: 68px;
				padding: 16px 20px;
				font-family: $effectFont;
				color: #002368;
				@include font(30,700);
	
				.desc {
					display: block;
					margin-top: 4px;
					font-size: 16px;
				}

				@include mobile {
					min-height: vw-mo(44);
					padding: vw-mo(10 8);
					font-size: vw-mo(16);

					.desc {
						margin-top: vw-mo(4);
						font-size: vw-mo(10);
					}
				}
			}
		}

		&.filter {
			gap: 12px;
			cursor: pointer;

			.tab__item {
				@include flexCenter(center);
				flex: 1 1 auto;
				min-height: 66px;
				// padding: 0 18px;
				color: #002368;
				@include font(16,700);
				white-space: nowrap;
				border-radius: 0;
				background: #F2F2F2;
			
				&.active {
					color: #fff;
					font-weight: 800;
					background: #002368;
				}
			}

			@include mobile {
				flex-wrap: wrap;
				gap: vw-mo(8);

				.tab__item {
					// flex: 1 1 50%;
					width: 50%;
					max-width: 48%;
					min-height: vw-mo(44);
					font-size: vw-mo(12);
				}
			}
		}
	}

	&__item {
		border-radius: 8px;
		background: #EDEDED;
			
		&.active {
			font-weight: 800;
			background: #002368;

			a {
				color: #fff;
			}
		}
		

		@include mobile {
			border-radius: vw-mo(8);
		}
	}
}