.tab {
	&__sub {
		@include flexCenter(center);
		gap: 40px;
	}

	&__item {
		@include flexCenter(center);
		height: 68px;
		padding: 0 20px;
		border-radius: 8px;
		background: #EDEDED;

		a {
			font-family: $effectFont;
			color: #002368;
			@include font(30,700);
		}
		
		&.active {
			background: #002368;

			a {
				font-family: $effectFont;
				color: #fff;
			}
		}
	}
}