.membership {
	.title {
		font-family: $effectFont;
		color: #002368;
		@include font(30,700);
	}

	.desc {
		margin-top: 24px;
		padding-bottom: 24px;
		color: #333;
	}

	.benefit {
		margin-top: 24px;

		&__list {
			display: flex;
			gap: 20px;

			li {
				flex: 1 1 auto;
				width: 100%;
			}
		}

		&__title {
			margin-top: 32px;
			font-family: $effectFont;
			color: #002368;
			@include font(24,700);
		}

		&__img {
			width: 100%;
			height: 180px;

			@for $i from 1 through 10 {
				&.img#{$i} {
					background: url('/images/sub/img_sub_benefit0#{$i}.jpg') no-repeat center center / cover;
				}
			}
		}

		&__desc {
			margin-top: 16px;
			color: #333;
			font-size: 16px;
			letter-spacing: -0.02em;
			line-height: 24px;
		}
	}

	@include mobile {
		.title {
			display: block;
			font-size: vw-mo(22);
			text-align: center;
		}

		.desc {
			margin-top: vw-mo(24);
			font-size: vw-mo(15);
			text-align: center;
			border-bottom: 1px solid #ccc;
		}

		.benefit {
			margin-top: vw-mo(24);

			&__list {
				flex-direction: column;
				gap: vw-mo(20);

				li {
					& + li {
						margin-top: vw-mo(40);
						padding-top: vw-mo(60);
						border-top: 1px solid #ccc;
					}
				}
			}

			&__img {
				width: 100%;
				height: vw-mo(180);
			}

			&__title {
				margin-top: vw-mo(32);
				font-size: vw-mo(20);
			}

			&__desc {
				margin-top: vw-mo(24);
				font-size: vw-mo(14);
				line-height: vw-mo(21);
			}
		}
	}
}



.price {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 6px;
	padding: 20px 40px;
	border-radius: 8px;
	background: #0D2E70;

	@include mobile {
		gap: vw-mo(6);
		width: 100%;
		padding: vw-mo(30);
	}

	>span {
		color: #CDCDCD;
		@include font(14,700);

		@include mobile {
			font-size: vw-mo(12);
		}
	}

	p {
		font-family: $effectFont;
		color: #fff;
		@include font(24,700);

		span {
			font-size: 14px;
		}

		@include mobile {
			font-size: vw-mo(20);

			span {
				font-size: vw-mo(12);
			}
		}
	}


	&__group {
		display: flex;
		gap: 24px;
		margin-top: 50px;
		padding-top: 50px;
		border-top: 1px solid #ccc;

		.price {
			height: 68px;
			padding: 0;
		}

		@include mobile {
			flex-direction: column;
			margin-top: vw-mo(24);
			padding-top: 0;
			border-top: 0;

			.price {
				height: vw-mo(62);
				padding: vw-mo(10);
				border-radius: vw-mo(8);
			}
		}
	}

	&__box {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 16px;
		flex: 1 1 100%;
		padding: 20px;
		border: 1px solid #ccc;
		border-radius: 8px;

		@include mobile {
			gap: vw-mo(16 8);
			padding: vw-mo(24) 0 0 0;
			border: 1px dashed #ccc;
			border-width: 1px 0 0 0;
			border-radius: 0;
		}
	}

	&__title {
		grid-column: span 2;
		padding: 10px 20px;
		@include font(16,700);
		text-align: center;
		border: 1px solid #ccc;
		border-radius: 8px;

		& + ul {
			padding: 8px 0;
			@include font(14,700);

			li {
				line-height: 18px;
			}

			@include mobile {
				grid-column: span 2;

				padding: vw-mo(8 10);
				font-size: vw-mo(14);
				border-radius: vw-mo(8);

				li {
					line-height: vw-mo(21);
				}
			}
		}

		@include mobile {
			padding: vw-mo(10 20);
			font-size: vw-mo(14);
			line-height: vw-mo(20);
			text-align: center;
		}
	}
}