
@use 'abstracts' as *;

// base
html {
	font-family: 'NanumSquare';
	font-size: 18px;
	font-weight: 400;
}

a {
	text-decoration: none;
	&:hover,
	&:active {
		color: inherit;
	}
}

.contents {
	// padding-top: 80px;
}


// layout
[class*=__inner] {
	width: 1200px;
	margin: 0 auto;

	&.full {
		width: 100%;
	}
}

// layout -- subpage
.sub {
	&__inner {
		padding: 50px 100px 90px;
		border: 1px solid;
		border-width: 0px 1px 0px 1px;
		border-color: #ccc;
	}
}


.bullet {
	position: relative;
	width: 100%;
	padding-left: 14px;

	&:before {
		position: absolute;
		left: 0;
	}

	a {
		display: inline;
	}

	&--dash {
		.bullet {
			&:before {
				content: '-';
				color: inherit;
			}
		}
	}

	&--num {
		>.bullet {
			padding-left: 20px;
			span {
				position: absolute;
				left: 0;
			}
		}
	}

	&--dot {
		.bullet {
			&:before {
				content: 'ㆍ';
			}
		}
	}
}


.terms {
	&__container {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.002em;
		justify-content: justify;
	}

	&__title {
		display: block;
		margin-top: 16px;
		@include font(18,700);

	}

	&__box {
		margin-top: 10px;
		padding-left: 10px;
	}

	&__table {
		width: 100%;
		margin-top: 16px;
		table-layout: fixed;
		text-align: center;
		vertical-align: middle;
		border: 1px solid #ccc;

		th,
		td {
			padding: 8px 0;
			border-right: 1px solid #ccc;

			&:last-child {
				border-right: 1px solid #ccc;
			}
		}
		th {
			border-bottom: 1px solid #ccc;
			background-color: #F5F5F5;
		}

		tr + tr {
			border-top: 1px solid #ccc;
		}
	}

	&__date {
		margin-top: 16px;
		@include font(18,700);
		text-align: right;
	}
}