
.footer {
	background: $primary;

	&__inner {
		padding: 60px 0;
	}

	&__top {
		.footer__inner {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;

			@include mobile {
				flex-direction: column;
				align-items: center;
				gap: vw-mo(40);
				padding: vw-mo(40 20);
				text-align: center;
			}
		}

		.company {
			order: 2;
		}

		.logo {
			display: inline-block;
			width: 193px;
			height: 36px;
			background: url('/images/common/logo-white.svg') no-repeat 0% / 100%;
			opacity: .5;

			@include mobile {
				width: vw-mo(130);
				height: vw-mo(24);
			}
		}

		.info {
			margin-top: 32px;

			&__row {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				gap: 10px;

				& + .info__row {
					margin-top: 10px;
				}
			}

			li {
				display: flex;
				align-items: center;
				gap: 10px;
				color: #EFEFEF;
				font-size: 14px;

				& + li {
					&:before {
						content: '';
						display: block;
						width: 1px;
						height: 14px;
						background: #EFEFEF;
					}
				}
			}

			@include mobile {
				margin-top: vw-mo(20);

				&__row {
					justify-content: center;
					gap: vw-mo(0 10);
					margin: 0;

					&:first-child {
						li:nth-child(2) {
							&:before {
								display: block;
								height: vw-mo(12);
								background: #778296;
							}
						}
					}
				}
				
				li {
					gap: vw-mo(8);
					color: #778296;
					font-size: vw-mo(11);
					line-height: vw-mo(16);

					& + li {
						&:before {
							display: none;
						}
					}
				}
			}
		}

		.inquiry {
			@include flexCenter(flex-start,24);

			&__box {
				padding: 24px;
				color: #fff;
				@include font(14,700);
				border-radius: 8px;
				background: rgba($color: #fff, $alpha: .05);

				.mail {
					margin-top: 12px;
					color: #18EAC2;
					@include font(18,800);
				}
			}

			@include mobile {
				flex-direction: column;
				gap: vw-mo(12);
				width: 100%;

				&__box {
					width: 100%;
					padding: vw-mo(16 20);
					font-size: vw-mo(12);

					.mail {
						font-size: vw-mo(13);
					}
				}
			}
		}
	}

	&__bottom {
		background: #0D2E70;

		.footer__inner {
			@include flexCenter(space-between);
			height: 60px;
			padding: 0;

			@include mobile {
				justify-content: center;
				height: vw-mo(40);
			}
		}

		.copy {
			color: #ccc;
			@include font(14,700);

			@include mobile {
				font-size: vw-mo(10);
			}
		}
	}

	.terms {
		@include flexCenter(flex-end);
		color: #EFEFEF;
		@include font(14,700);

		@include mobile {
			font-size: vw-mo(10);
		}

		li {
			& + li {
				position: relative;
				margin-left: 20px;
				padding-left: 20px;

				&:before {
					content: '';
					display: block;
					@include pos-centerYL(0);
					width: 1px;
					height: 12px;
					background: #fff;
				}
			}

			a {
				color: #EFEFEF;
			}
		}

		@include mobile {
			justify-content: center;
			margin-top: vw-mo(20);
			font-size: vw-mo(12);
		}
	}
}