.apply {
  &__side {
    width: 400px;
    min-width: 400px;
    border-right: 1px solid #ccc;

    .desc {
      padding: 50px 40px;
      color: #333;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__info {
    li {
      & + li {
        margin-top: 20px;
      }
    }
  }

  @include mobile {
    &__side {
      width: 100%;
      min-width: 100%;
      padding: vw-mo(50 20);

      .desc {
        padding: vw-mo(0 0 24);
        font-size: vw-mo(14);
        line-height: vw-mo(20);
      }
    }

    &__info {
      border: 1px solid #ccc;

      li + li {
        margin-top: vw-mo(20);
      }
    }
  }
}

.info {
  &__title {
    height: 40px;
    @include font(16, 700);
    align-content: center;
    text-align: center;
    border: 1px solid #ccc;
    border-width: 1px 0 1px 0;
    background: #e2fdff;
  }

  &__list {
    padding: 20px 40px;
    border-bottom: 1px solid #ccc;

    @include mobile {
      border: 0
    }
  }

  &__tit {
    @include font(16, 700);
  }

  &__desc {
    display: flex;
    margin-top: 8px;
    padding-left: 20px;
    font-size: 14px;
  }

  @include mobile {
    &__title {
      height: vw-mo(40);
      font-size: vw-mo(16);
      border-top: 0;
    }

    &__list {
      padding: vw-mo(12);
    }

    &__tit {
      font-size: vw-mo(14);
    }

    &__desc {
      margin-top: vw-mo(8);
      padding-left: vw-mo(12);
      font-size: vw-mo(12);
    }
  }
}
