.check {
  &__list {
    margin-top: 16px;

    li + li {
      margin-top: 8px;
    }
  }

  @include mobile {
    &__list {
      margin-top: vw-mo(16);
      
      li + li {
        margin-top: vw-mo(16);
      }
    }
  }
}
