

.card {
	&__box {
		flex: 1 1;
		min-height: 350px;
		color: #aaa;
		border: 1px solid #ccc;
		transition: background .2s ease-in;

		@include mobile {
			min-height: vw-mo(136);
		}
		
		&:hover {
			color: $primary;
			background: #eee;
			transition: background .2s ease-in;
		}
	}
}

.box {
	&__img {
		@include flexCenter(center);
		height: 244px;
	}

	&__title {
		padding: 24px 0 40px;
		font-family: $effectFont;
		@include font(18,800);
		line-height: 21px;
		text-align: center;
		border-top: 1px solid #ccc;

		@include mobile {
			padding: vw-mo(12 0);
			font-size: vw-mo(9);
			line-height: vw-mo(10);
		}
	}
}