
.main {
	&__section {
		&.visual {
			position: relative;
			height: 100vh;
			color: #fff;
			@include font(60,800);
			text-align: center;
			line-height: 54px;

			@include mobile {
				height: vw-mo(448);
				font-size: vw-mo(24);
				line-height: vw-mo(36);
			}

			.main {
				&__inner {
					z-index: $above;
					@include flexCenter(center);
					@include pos-center;
					width: 100%;
					padding: 0 0 128px;

					@include mobile {
						padding-bottom: 0;
					}
				}

				&__swiper {
					height: 100%;
				}

				&__KV {
					background-repeat: no-repeat;
					background-size: cover;
					background-position: 50% 50%;

					&.visual {
						&1 {
							background-image: url('/images/main/img_KV_01.jpg');
						}
						&2 {
							background-image: url('/images/main/img_KV_02.jpg');
						}
						&3 {
							background-image: url('/images/main/img_KV_03.jpg');
						}
						&4 {
							background-image: url('/images/main/img_KV_04.jpg');
						}
						&5 {
							background-image: url('/images/main/img_KV_05.jpg');
						}
					}
				}
			}
		}

		&.section1 {
			scroll-snap-align: center;

			.main__inner {
				@include flexCenter(center, 24);
				flex-direction: column;
				padding-bottom: 0;
			}

			.logo {
				width: 214px;
				height: 36px;
				margin: 0 auto;
				background: url('/images/common/ACAMS-logo.svg') no-repeat 0% / 100%;
			}

			.text {
				color: $primary;
				@include font(24,700);
				line-height: 40px;
				text-align: center;
			}

			.button {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: auto;
				height: 60px;
				padding: 0 24px;
				color: #fff;
				@include font(20,700);
				background: #222;
			}

			@include mobile {
				.main__inner {
					gap: vw-mo(24);
				}

				.logo {
					width: vw-mo(142);
					height: vw-mo(24);
				}

				.text {
					font-size: vw-mo(14);
					line-height: vw-mo(20);
				}

				.button {
					height: vw-mo(44);
					padding: vw-mo(0 20);
					font-size: vw-mo(16);
				}
			}
		}

		&.section2 {
			.card {
				display: flex;
				flex-direction: column;
				gap: 16px;
				
				// PC
				&__row {
					@include flexCenter(start,16);
				}

				// MO
				@include mobile {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					gap: vw-mo(8);

					:global(.font16) {
						font-size: vw-mo(8) !important;
					}
				}
			}

			@for $i from 1 through 10 {
			:global(.card#{$i}) {
				&:before {
					content: '';
					display: block;
					width: 100%;
					height: 244px;
					min-height: 244px;
					background-image: url('/images/main/img_main_card#{$i}.svg');
					background-repeat: no-repeat;
					background-position: 50% 50%;
					background-size: 230px 180px;
	
					@include mobile {
						height: vw-mo(114);
						min-height: vw-mo(114);
						background-size: vw-mo(116) vw-mo(90);
					}
				}
				}
			}

			:global(.show-mo) {
				display: none;
			}

			@include mobile {
				:global(.show-mo) {
					display: grid;
				}

				.main__inner {
					padding-top: vw-mo(40);
				}
			}
		}

		&.section3 {
			background: $primary2;

			.main__inner {
				padding: 60px 0;
			}

			.banner {
				@include flexCenter(center);

				.ico1 {
					background-image: url('/images/main/ico_banner01.svg');
				}
				.ico2 {
					background-image: url('/images/main/ico_banner02.svg');
				}
			}

			@include mobile {
				.main__inner {
					padding: vw-mo(80 20);
				}

				.banner {
					flex-direction: column;
					gap: vw-mo(80);
				}
			}
		}

		&.section4 {
			@include font(24,700);
			text-align: center;
			background: $primary2;

			.logo {
				width: 268px;
				height: 50px;
				margin: 0 auto;
				background: url('/images/common/logo.svg') no-repeat 0% / 100%;
			}

			.text {
				margin-top: 24px;
				line-height: 36px;
			}

			@include mobile {
				font-size: vw-mo(15);

				.logo {
					width: vw-mo(210);
					height: vw-mo(40);
				}

				.text {
					margin-top: vw-mo(24);
					line-height: vw-mo(22);
				}
			}
		}

		&.faq {
			.title {
				width: 300px;
				min-width: 300px;
				font-family: $effectFont;
				@include font(36,800);

				.desc {
					display: block;
					margin-bottom: 16px;
					color: #bbb;
					@include font(20,800);
				}

				@include mobile {
					width: 100%;
					min-width: 100%;
					font-size: vw-mo(24);
					text-align: center;
				}
			}

			
			.faq__inner {
				display: flex;
				align-items: center;

				@include mobile {
					flex-direction: column;
					gap: vw-mo(28);
				}
			}

			.faq__link {
				display: inline-block;
				position: relative;

				&:after {
					content: '';
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;
					background: 
					linear-gradient(to left, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
					linear-gradient(to left, $primary, $primary);
					background-size: 100% 0.1em, 0 0.1em;
					background-position: 100% 100%, 0 100%;
					background-repeat: no-repeat;
					transition: background-size .6s;
				}

				&:hover {
					transition: all 0.5s ease-out;
			
					&:after {
						background-size: 0 0.1em, 100% 0.1em;
					}
				}
			}
		}
	}

	&__inner {
		height: 100%;
		padding: 80px 0;

		@include mobile {
			padding: vw-mo(80 16);
		}
	}
}