
@font-face {
	font-family: 'NanumSquare';
	font-weight: 300;
	src: url('../../../public/fonts/NanumSquareL.ttf') format('opentype'),
}
@font-face {
	font-family: 'NanumSquare';
	font-weight: 400;
	src: url('../../../public/fonts/NanumSquareR.ttf') format('opentype'),
}
@font-face {
	font-family: 'NanumSquare';
	font-weight: 700;
	src: url('../../../public/fonts/NanumSquareB.ttf') format('opentype'),
}
@font-face {
	font-family: 'NanumSquare';
	font-weight: 800;
	src: url('../../../public/fonts/NanumSquareEB.ttf') format('opentype');
}
@font-face {
	font-family: 'Paperlogy';
	font-weight: 800;
	src: url('../../../public/fonts/Paperlogy-8ExtraBold.ttf') format('opentype');
}

@mixin font($size,$weight) {
	font-size: $size + px;
	font-weight: $weight;
}
@mixin font-impt($size,$weight) {
	font-size: $size + px !important;
	font-weight: $weight !important;
}




$effectFont: 'Paperlogy';
.font12 {font-size: 12px !important;}
.font16 {font-size: 16px !important;}
.font18 {font-size: 18px !important;}
.font24 {font-size: 24px !important;}
.font32 {font-size: 32px !important;}

.font-light {font-weight: 300 !important;}
.font-regular {font-weight: 400 !important;}
.font-bold {font-weight: 700 !important;}
.font-exbold {font-weight: 800 !important;}