
// z-index
$below: -1;
$above: 1;

$level10: 10;
$level50: 50;
$level100: 100;
$level120: 120;
$level130: 130;
$level140: 140;
$level150: 150;
$level200: 200;
$level300: 300;
$level400: 400;
$level500: 500; // gnb (header)
$level1000: 1000;
$level1500: 1500;
$level3000: 3000;
$level5000: 5000;
$level9999: 9999;