
.input__box {
	@include flexCenter(start,8);
	position: relative;
	width: 100%;

	input {
		width: 100%;
		min-height: 32px;
		padding: 0 16px;
		font-size: 15px;
		border: 1px solid #ccc;

		&::placeholder {
			color: #666;
		}
	}

	.timer {
		@include pos-centerYR(16);
		color: #FF0000;
		font-size: 14px;
	}

	@include mobile {
		input {
			min-height: vw-mo(40);
		}

		.timer {
			font-size: vw-mo(14);
		}
	}
}